body {
    margin: 0;
    gap: 30px;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:15% 1fr 10fr;
    background-color: white;
    grid-template-areas:
        "he he he"
        "as ma as2"
        "fo fo fo ";

    


}


header { 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: green;
    grid-area: he;
    border-radius:10px;
}


main {
    background-color: grey;

    grid-area: as;
    border-radius:10px;
}

aside {
    background-color: grey;

    grid-area: ma;
    border-radius:10px;
}

aside2 {
    background-color: grey;

    grid-area: as2;
    border-radius:10px;
}

footer { 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: green;
    grid-area: fo;
    border-radius:10px;
}