body {
    margin: 0;
    gap: 30px;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 15% 1fr 160px;
    background-color: #faebd7;
    grid-template-areas:
        "he he he"
        "as ma as2"
        "fo fo fo "
    ;
    color: white;
}


header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #8BC34A;
    grid-area: he;

    font-family: "Chewy", system-ui;
    font-weight: 500;
    font-style: normal;
    font-size: 17px;
}

header a {
    background-color: #6ac503;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 3px 5px 0 rgb(81, 81, 81);
    border-radius: 15px;
    font-size: larger;
}

header a:hover {
    transform: scaleY(-5px);
    box-shadow: 0 15px 20px black;
    /* överdrivet, för att se */
}

main {
    background-color: #208400;
    text-align: center;
    grid-area: ma;
    border-radius: 30px;
    box-shadow: 0 15px 20px black;


    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    padding: 20px;
    font-size: 17px; 
}

aside {
    background-color: #208400;
    text-align: center;
    grid-area: as;
    border-radius: 30px;
    box-shadow: 0 15px 20px black;

    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    padding: 20px;
    font-size: 17px; 
}

.aside2 {
    background-color: #208400;
    text-align: center;
    grid-area: as2;
    border-radius: 30px;
    box-shadow: 0 15px 20px black;

        font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    padding: 20px;
    font-size: 17px; 

}

main p {
    text-align: left;
}

aside p {
    text-align: left;
}

aside2 p {
    text-align: left;
}



footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #8BC34A;
    grid-area: fo;
    border-radius: 10px;

    font-family: "Chewy", system-ui;
    font-weight: 400;
    font-style: normal;
}

img {
    width: 150px;
}

a {
    color: black;
    text-decoration: none;
    font-size: medium;
    text-shadow: 5px;
}


.sok-ruta {
    display: flex;
    align-items: center;
    width: 300px;
    font-family: "chewy", system-ui;
}

.sok-ruta input {
    flex: 1;
    padding: 10px;
    border: 2px solid #4CAF50;
    border-right: none;
    border-radius: 8px 0 0 8px;
    font-size: 16px;
    font-family: "chewy", system-ui;
}

.sok-ruta button {
    padding: 10px 15px;
    border: 2px solid #4CAF50;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border-radius: 0 8px 8px 0;
    font-size: 16px;
    transition: 0.2s;
    font-family: "chewy", system-ui;
}

.sok-ruta button:hover {
    background-color: #45a049;
}

.rubrik {
    font-family: "Chewy", system-ui;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
    

}

.produkter-cards {
    width: 90vw ;
    display: flex;  
    margin: 30px;
    background-color:#faebd7;
    height: auto;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    grid-area: kort;


}

.body2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 15% auto 160px;
    background-color: #faebd7;
    grid-template-areas:
        "he he he"
        "kort kort kort"
        "fo fo fo"
    ;
    
}

.produkt-klass{
    margin: 20px;
    padding: 40px;
    background-color: #208400;
    border-radius: 15px;
    width: 150px;
     

}

.produkt-klass img{
    border-radius: 15px;
}


.loga{
    all: unset;
    cursor: pointer;
    border-radius: 20px;
    padding:0px;
    border-image-width: 0%;
}

.ul {
    list-style: none;
}

.body3{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 15% auto 160px;
    background-color: #faebd7;
    grid-template-areas:
        "he he he"
        "to1 mm to2"
        "fo fo fo"
    ;
    overflow-x: hidden;




}


.mainm{
    grid-area:mm;
    
    background-color: #208400;
    border-radius: 50px;
    padding: 50px;
    margin: 10px;
    

   

}

.mainm{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

.tom{
    grid-area:to1;



}
.tom2{
    grid-area:to2;
}
.h1info{
    font-size: 55px;

}

.h2info{
    font-size: 34px;

}

.h3info{
    font-size: 42px;

}

.infotext{

    font-size: 21px;
}

