body {
    margin: 0;
    gap: 30px;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 15% 1fr 10fr;
    background-color: #ffffff;
    grid-template-areas:
        "he he he"
        "as ma as2"
        "fo fo fo ";

    color: white;
}


header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #8BC34A;
    grid-area: he;

    font-family: "Chewy", system-ui;
    font-weight: 600;
    font-style: normal;
}

header a {
    background-color: #6ac503;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 3px 5px 0 rgb(81, 81, 81);
    border-radius: 15px;
    font-size: larger;
}

header a:hover {
    transform: scaleY(-5px);
    box-shadow: 0 15px 20px black;
    /* överdrivet, för att se */
}

main {
    background-color: #8BC34A;
    text-align: center;
    grid-area: ma;
    border-radius: 30px;
    box-shadow: 0 15px 20px black;


    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    padding: 20px;
}

aside {
    background-color: #8BC34A;
    text-align: center;
    grid-area: as;
    border-radius: 30px;
    box-shadow: 0 15px 20px black;

    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    padding: 20px;

}

aside2 {
    background-color: #8BC34A;
    text-align: center;
    grid-area: as2;
    border-radius: 30px;
    box-shadow: 0 15px 20px black;

    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    padding: 20px;


}

main p {
    text-align: left;
}

aside p {
    text-align: left;
}

aside2 p {
    text-align: left;
}



footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #8BC34A;
    grid-area: fo;
    border-radius: 10px;

    font-family: "Chewy", system-ui;
    font-weight: 400;
    font-style: normal;
}

img {
    width: 200px;
}

a {
    color: black;
    text-decoration: none;
    font-size: medium;
    text-shadow: 5px;
}


.sok-ruta {
    display: flex;
    align-items: center;
    width: 300px;
}

.sok-ruta input {
    flex: 1;
    padding: 10px;
    border: 2px solid #4CAF50;
    border-right: none;
    border-radius: 8px 0 0 8px;
    font-size: 16px;
}

.sok-ruta button {
    padding: 10px 15px;
    border: 2px solid #4CAF50;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border-radius: 0 8px 8px 0;
    font-size: 16px;
    transition: 0.2s;
}

.sok-ruta button:hover {
    background-color: #45a049;
}

.rubrik {
    font-family: "Chewy", system-ui;
    font-weight: 600;
    font-style: normal;

}

.produkter-cards {
    display: flex;
    margin: 30px;
    background-color: antiquewhite;
    height: auto;
}

.body2{
    display: flex;
    flex-direction: column;
}

.sugror{
    margin: 20px;
    padding: 20px;
    background-color: violet;
    border-radius: 15px;

}

.audi-rs{
    margin: 20px;
    padding: 40px;
    background-color: #6ac503;
    border-radius: 15px;
}